<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/p5.min.js"></script>
    <script src="/p5.dom.min.js"></script>
    <script src="/p5.sound.min.js"></script>
    <script src="/js/helpers.js"></script>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/objects.js"></script>
    <script src="/js/drawing.js"></script>
    <script src="/js/capture.js"></script>

    <script src="/js/main.js" defer></script>
  </head>
  
  <body>
    <header>
      <h1>
        svs5 test
      </h1>
    </header>

    <main>
      <form method="POST" action="/submit-name">
        <input name="username" type="text" maxlength="15" placeholder="John Appleseed">
        <input type="submit">
      </form>
      
      <form id="file-form" action="handler.php" method="POST">
        <input type="file" id="file-select" name="photos[]" multiple/>
        <button type="submit" id="upload-button">Upload</button>
      </form>

      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
      
      <video id="video" src="https://cdn.glitch.com/7d80c306-8f9d-443a-88d4-62b7d14049a7%2FSV5_MT_FINAL_v28_EMAILABLE.mp4?v=1568312096276" loop muted crossorigin="anonymous"></video> <!-- Hide video element, draw frames to canvas -->
      
      <section class="preview">
        <button id="saveButton">Save!</button>
      </section>
      
    </main>

  </body>
</html>
