<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BE THE VALLEY</title>
    <meta name="description" content="[Your name here] in the intro for Silicon Valley">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>

    <script src="p5.min.js"></script>
    <script src="p5.dom.min.js"></script>
    <script src="p5.sound.min.js"></script>
    <script src="js/helpers.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/objects.js"></script>
    <script src="js/letters.js"></script>
    <script src="js/drawing.js"></script>
    <script src="js/capture.js"></script>

    <script src="js/forms.js" defer></script>
    <script src="js/ui.js" defer></script>

    <script src="js/fb-sdk.js"></script>

    <script src="js/main.js" defer></script>
  </head>
  
  <body>
    <div class="d-flex flex-column justify-content-center align-items-center">

      <div id="header" class="mt-5 mb-2 w-50">
        <img src="../images/misc/logo.png" class="img-fluid">
      </div>
      
      <div id="bodytext" class="container py-3 w-75">
          <h3 class="text-center">Don’t just watch Silicon Valley, BE the Valley.</h3>
          <p class="text-center">Celebrate the final season with this custom title sequence generator. Add your name (or whatever you want...within reason) and share your creation by downloading or sharing directly to Facebook or Twitter.</p>
      </div>

      <div id="canvas-holder" class="d-flex justify-content-center pt-1 pb-5 w-75">
        <img id="titlecard" class="w-100 h-auto p-0 zindex-popover position-absolute" src="../images/misc/title card.jpg">
        <div id="replay-holder" class="d-flex w-100 h-100 justify-content-center align-items-center zindex-tooltip position-absolute"><img id="replay" class="hidden" src="../images/icons/reset arrow.svg"></div>

        <!-- p5 canvas goes here -->
      </div>

      <div id="actionables" class="container w-75 flex-fill position-relative">
          <div id="submission" class="position-absolute d-flex justify-content-center w-100 h-auto flex-fill shown">
              <div id="namefield" class="px-5 w-50">
                <form id="nameform" name="nameform">
                          <div class="form-group row">
                              <div class="col-sm-3"></div>
                              <div class="col-sm-7 pl-0">
                                <h2 class="text-left">Enter a name<br><span class="text-muted">(max. 7 characters per line)</span></h2>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="firstInput" class="col-sm-3 col-form-label text-muted">Line 1</label>
                              <div class="col-sm-6 pl-0">
                                <input id="firstInput" class="form-control" name="firstname" type="text" maxlength="7" autocomplete="off">
                              </div>
                            </div>
                          <div class="form-group row">
                              <label for="lastInput" class="col-sm-3 col-form-label text-muted">Line 2</label>
                              <div class="col-sm-6 pl-0">
                                <input id="lastInput" class="form-control" name="lastname" type="text" maxlength="7" autocomplete="off">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-3"></div>
                              <div class="col-sm-6 pl-0">
                                  <button id="generate" class="btn btn-primary text-uppercase w-100 pt-2">Generate</button>
                              </div>
                          </div>
                </form>
              </div>
          </div>

          <div id="exports" class="d-flex justify-content-center w-100 flex-fill mb-5 pt-5 hidden">
                  <div id="downloading" class="flex-fill border-right px-4">
                      <h2 class="text-left mb-1">Download your creation</h2>
                      <div class="d-flex mt-2 w-100 pt-2">
                        <button id="dlPhoto" class="btn dlbtn btn-primary text-uppercase flex-fill">Image<div></div></button>
                        <button id="dlVideo" class="btn dlbtn btn-primary text-uppercase flex-fill ml-3">Video<div></div></button>
                      </div>
                  </div>

                  <div id="sharing" class="d-flex flex-column align-items-start flex-fill border-right px-4">
                    <h2 class="text-left">Share</h2>
                    <input id="shareurl" name="shareURL" type="text" class="form-control" autocomplete="off">
                    <div class="d-flex flex-fill mt-3">
                      <button id="shareTwitter">
                          <img src="../images/icons/twitter.png" class="socialicon">
                      </button>
                      <button id="shareFacebook">
                          <img src="../images/icons/facebook.png" class="socialicon ml-3">
                      </button>
                    </div>
  
                    <div id="redo-container" class="d-flex flex-column align-items-start flex-fill px-4">
                        <button id="redo" class="btn btn-primary mt-2 w-100 text-uppercase pt-2">Redo</button>
                    </div>
              </div>
  
              
          </div>
      </div>

      <div id="footer" class="footer container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
          <div id="footercopy" class="container text-center mw-50">
            <small>© 2019 Home Box Office, Inc. All Rights Reserved.<br>This website may contain mature content.</small>
          </div>
          <div id="footerlinks" class="container d-flex justify-content-center text-center w-25 pt-3 font-weight-bold">
              <a class="px-2" href="https://www.hbo.com/privacy-policy" target="_blank">PRIVACY</a>
              <a class="px-2" href="https://www.hbo.com/terms-of-use" target="_blank">TERMS</a>
          </div>
  
      </div>

    </div>
    
  </body>
</html>
