/* styles */
/* called by your view template */

@font-face {
  font-family: "Helvetica Condensed";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

h1 {
  font-family: "Helvetica Condensed" !important;
  font-size: 13rem !important;
  line-height: .87em !important;

  color: #F04933 !important;
}

body {
  font-family: "Open Sans" !important; 
}

.btn {
  background-color: #231f20 !important;
}

#canvas-holder {
  position: relative;
}

#reset {
  background-image: url("../images/icons/reset\ arrow.svg");

  position: absolute;
  bottom:0;
  right:0;

  width: 64px;
  height: 64px;
}
