/* styles */
/* called by your view template */

@font-face {
  font-family: "Helvetica Condensed";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf");
}

@font-face {
  font-family: "Helvetica Roman";
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}

@font-face {
  font-family: "Helvetica Medium";
  src: url("../fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

html * {
  font-family: "Helvetica Roman" !important;
}

h1 {
  font-family: "Helvetica Condensed" !important;
  font-size: 13rem !important;
  line-height: .87em !important;

  color: #F04933 !important;
}

h2 {
  font-family: "Helvetica Bold" !important;
  font-size: 1.2rem !important;
  line-height: 1em !important;

  color: #231f20 !important;
}

h2 span {
  font-size: .95rem !important;
}

h3 {
  font-family: "Helvetica Condensed" !important;
  font-size: 1.1rem !important;
  line-height: .87em !important;

  color: #231f20 !important;
}

p {
  font-size: .87rem !important;
}

small {
  font-size: .67rem !important;
}

.btn {
  background-color: #2e9f48 !important;
  border: 0;
}

.ctoa {
  font-size: 1rem !important;
}

#canvas-holder {
  position: relative;
}

#reset {
  background-image: url("../images/icons/reset\ arrow.svg");

  position: absolute;
  bottom:0;
  right:0;

  width: 64px;
  height: 64px;
}

.socialicon {
  width: 32px;
  height: 32px;
}

.footer {
  height: 96px;
  background-color: #4B4E4D;
}

.footer #footercopy {
  color: white !important;
  line-height: .87rem !important;
}

.footer #footerlinks a {
  font-size: .67rem !important;

  color: white !important;
  line-height: .87rem !important;
}

button {
  font-family: "Helvetica Medium" !important;
}

/* Portrait mobile*/
@media (max-width: 575.98px) { 
    #canvas-holder {
      display: npne
    }

    #drivers {
      flex-direction: column !important;
    }
}

/* Landscape mobile */
@media (max-width: 767.98px) {
  #drivers {
    flex-direction: row !important;
  }
}