/* styles */
/* called by your view template */

@font-face {
  font-family: "Helvetica Condensed";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf");
}

@font-face {
  font-family: "Helvetica Roman";
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}

@font-face {
  font-family: "Helvetica Medium";
  src: url("../fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

html * {
  font-family: "Helvetica Roman" !important;
}

h1 {
  font-family: "Helvetica Condensed" !important;
  font-size: 13rem !important;
  line-height: .87em !important;

  color: #F04933 !important;
}

h2 {
  font-family: "Helvetica Bold" !important;
  font-size: 1.2rem !important;
  line-height: 1em !important;

  color: #231f20 !important;
}

h2 span {
  font-size: .95rem !important;
}

h3 {
  font-family: "Helvetica Condensed" !important;
  font-size: 1.1rem !important;
  line-height: .87em !important;

  color: #231f20 !important;
}

p {
  font-size: .87rem !important;
}

small {
  font-size: .67rem !important;
}

.btn {
  background-color: #2e9f48 !important;
  border: 0;
}

.dlbtn {
  width: 156px;
  height: auto; 
}

.ctoa {
  font-size: 1rem !important;
}

#canvas-holder {
  position: relative;
  height: calc(100% * (720/1280));
}

#replay {
  width: 156px;
  height: 156px;

  -webkit-transition: opacity .33s ease;
    -o-transition: opacity .33s ease;
    transition: opacity .33s ease;
}

.socialicon {
  width: 32px;
  height: 32px;
}

#hbo-logo {
  width:64px;
  height: auto;
}

.footer {
  height: auto;
  background-color: #4B4E4D;
}

.footer #footercopy {
  color: white !important;
  line-height: .87rem !important;
}

.footer #footerlinks a {
  font-size: .67rem !important;

  color: white !important;
  line-height: .87rem !important;
}

button {
  font-family: "Helvetica Medium" !important;
}

/* Portrait mobile*/
@media (max-width: 575.98px) { 
    #header { width: 100% !important; }
    #bodytext { width: 100% !important; }
    #submission { width: 100% !important; }
    #namefield { width: 100% !important; }

    #canvas-holder {
      display: npne
    }
}

#submission {
  -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#exports.shown {
  -webkit-transition: opacity .67s ease 1s;
    -o-transition: opacity .67s ease 1s;
    transition: opacity .67s ease 1s;
}

#exports.hidden {
  -webkit-transition: opacity .67s ease;
    -o-transition: opacity .67s ease;
    transition: opacity .67s ease;
}

.hidden {
  pointer-events: none !important;
  opacity: 0 !important;
}

.shown {
  pointer-events: all !important;
  opacity: 1 !important;
}